# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Jetbrains Config
.idea/

# Optional npm cache directory
.npm

# Configs
configs/